[program:davesgalaxy]
command = /home/djdjango/newdominion/scripts/runbuilder.py            ; Command to start app
stdout_logfile = /home/djdjango/builder.log                           ; Where to write log messages
redirect_stderr = true                                                ; Save stderr in the same log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8                       ; Set UTF-8 as default encoding

