html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

label {
  text-decoration: none;
  font-size: 12pt;
  color: white;
}

hr {
  background-color: white;
  padding: 0px;
  border: 0px;
}
div {
  padding-top: 2px;
}

input,button,textarea {
  background-color: #006688;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
  font-size: 15pt;
  font-family: sans-serif; 
  font-weight: bold; 
  -moz-border-radius: 5px;
  color: white;
}

textarea {
  padding: 5px;
  font-size: 10pt;
}

textarea:hover {
  background-color: #0088AA;
}

input:hover {
  background-color: #0088AA;
}

button:hover {
  background-color: #0088AA;
}
div.menu {
  background-color: #002244;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  padding-top: 10px; padding-bottom: 10px;
}  

div.countdown {
  position:absolute;
  bottom:0px;
  right:0px;
  background-color: #002244;
  -moz-border-radius-topleft: 30px;
  padding-top: 5px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  width: 200px;
}
div.statusmsg {
  position:absolute;
  bottom:0px;
  left:0px;
  background-color: #002244;
  -moz-border-radius-topright: 10px;
  padding-top: 5px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  width: 200px;
}

div.msgheader1 {
  background-color: #001122;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

div.msgheader2 {
  background-color: #002244;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
div.expand:hover {
  color: white;
}

div.body {
  padding: 10px;
}
span.msgheader {
  color: white;
}

body {
  line-height: 1;
  background-color: black;
  margin: 0px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */





h1 {
  color: white; 
  font-family: sans-serif; 
  font-weight: bold; 
  font-size: 18pt; 
  margin: 0px; 
  padding-left: 10px; 
  padding-right: 10px;
  padding-bottom: 10px;
}

body {
  color: yellow; 
  background-color: black; 
  font-family: sans-serif; 
  font-weight: bold;
}


ul {
  list-style-type:none; 
  margin: 0px; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
li, td, th {
  text-decoration: none;
  text-align: left;
  padding-top: 2px; 
  padding-bottom: 2px;
  padding-left: 10px; 
  padding-right: 10px;
}
td.cell {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15pt;
}

td.rowtotal {
  padding-left: 5px; 
  padding-right: 5px;
  font-size: 15pt;
  color: white;
}
td.total {
  font-size: 20pt;
  color: white;
}
td.rowheader {
  color: white;
  font-size: 10pt;
}
th.rowheader {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: white solid thin;
  vertical-align: bottom;
  color: white;
  font-size: 10pt;
}

p, img {
  margin: 20px;
}

ul,table {
  display: block; 
  width: auto; 
}

a:link {
  color: yellow; 
  text-decoration: none;
}

a:visited {
  color: yellow; 
  text-decoration: none;
}

li:hover {
  color: white; 
  background-color: #003355; 
  text-decoration: none;
}

form {
  border: 10px;
}

input.required {
  width: 100pt;
}

