html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

hr {
  background-color: white;
  padding: 0px;
  border: 0px;
}

div.menu {
  background-color: #002244;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  padding-top: 10px; padding-bottom: 10px;
  max-width:500px;
}  

div.status {
  color: white;
}

div.msgheader1 {
  background-color: #001122;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

div.msgheader2 {
  background-color: #002244;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

div.msgheader1:hover {
  background-color: #004455;
}

div.msgheader2:hover {
  background-color: #005566;
}
div.msgbody {
  padding: 10px;
}
span.msgheader {
  color: white;
}

body {
  line-height: 1;
  background-color: black;
  margin: 0px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */





h1 {
  color: white; 
  font-family: sans-serif; 
  font-weight: bold; 
  font-size: 18pt; 
  margin: 0px; 
  padding-left: 10px; 
  padding-right: 10px;
  padding-bottom: 10px;
}

body {
  color: yellow; 
  background-color: black; 
  font-family: sans-serif; 
  font-weight: bold;
}

li {
  margin: 0px; 
  padding: 0px;
}

ul {
  list-style-type:none; 
  margin: 0px; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
li, td {
  padding-top: 2px; 
  padding-bottom: 2px;
  padding-left: 10px; 
  padding-right: 10px;
}

p, img {
  margin: 20px;
}

ul,table {
  display: block; 
  width: auto; 
}

a:link {
  color: yellow; 
  text-decoration: none;
}

a:visited {
  color: yellow; 
  text-decoration: none;
}

li:hover {
  color: white; 
  background-color: #003355; 
  text-decoration: none;
}

form {
  border: 10px;
}

input.required {
  width: 100pt;
}

